@model LibrarySystem.Web.Models.BookFullModel

@{
    ViewBag.Title = "Detail";
}

<h2>@Model.Title</h2>

<h4>@Model.Author</h4>

<div><strong>@Model.Isbn</strong> @Model.Price</div>

<div>
    <img src="@Model.ImageUrl" alt="@Model.Category" width="100" height="100" />
    <span><em>@Model.Description</em></span>
</div>

@Html.Partial("_Comments", Model.Comments)

@if (Request.IsAuthenticated)
{
    @Ajax.ActionLink("Comment", "Create", new { bookId = Model.Id },
            new AjaxOptions
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "create-comment",
                LoadingElementId = "loading",
                OnSuccess = "hideButton",
                OnFailure = "alertMessage"
            }, new { id = "ajax-create-button" })

    <div id="create-comment">
    </div>

    <div id="loading" style="display: none">
        <strong>Loading...</strong>
    </div>
}

@Html.ActionLink("Books", "Index")

<script>
    function hideButton() {
        $("#ajax-create-button").hide();
    }

    function alertMessage() {
        alert("error!")
    }
</script>