@model IEnumerable<LibrarySystem.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@(Html
    .Kendo().Grid(Model)
    .Name("categories-grid")
    .Columns(columns =>
            {
                columns.Bound(x => x.Name);
                columns.Template(@<text>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </text>);
                columns.Template(@<text>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </text>);
            })
    .Sortable(sort =>
            {
                sort.AllowUnsort(false);
                sort.SortMode(GridSortMode.SingleColumn);
            })
    .Pageable()
    .Filterable()
    .DataSource(dataSource => dataSource
        .Server()
        .Read(read => read.Action("Index", "Categories"))
        .PageSize(3)))


@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>*@
