@model _03.Quest.Models.QuestionModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Admin Page";
}

<div class="hero-unit">
    <h2>@Model.Text</h2>
    @using (Html.BeginForm("Create", "AdminAnswers", new { id = Model.Id }))
    {
        <br />
        @Html.Label("createAnswerLabel", "Create New Answer")
        @Html.TextBox("createAnswerBox")
        <br />
        <input type="submit" value="Create" />
        <br />
    }

    @if (Model.Answers.Count() > 0)
    {
        foreach (var item in Model.Answers)
        {
            <h4>@item.Text</h4>
        }
    }
    else
    {
        <div>
            <strong>No Answers found</strong>
        </div>
    }
    <br />
    @Html.ActionLink("Create New Question", "Index")
</div>